* {
    /*Parametros generales*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFDFD;
    
}
#tituloLaboratorio {
    display: flex;
    align-items: center;
    
    background-color: white;
    font-size: 20px;
    color: #737373;
    padding: 20px;
    border-bottom: 1px solid #237ABA;
}

#tituloLaboratorio img {
    margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}

footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #237ABA;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 20px;
}

nav ul{
    background-color: #237ABA;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: #072146;
    padding: 10px;
    width: 150px;
}
nav li:hover{
   
    transform: scale(1.3);
}



 

/*Para varios*/
.contenedor {
    margin: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    text-align: center; 
}
.parte {
    background-color: #4AA8D8; /* Color de fondo */
    font-family: 'Arial', sans-serif; /* Tipo de letra */
    font-weight: bold;
    padding: 22px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px; /* Tamaño de fuente */
    color: black; /* Color de texto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}
.parte h4 {
    font-family: Courier New,Arial, sans-serif; 
    font-size: 20px; 
}
.parte p {
    font-family: Courier New,Arial, sans-serif; 
    font-size: 16px; 
}




/*Para uno*/
.contenedor2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 10px;
    
    text-align: center; 
    
}

.contenedor2 .parteu {
    margin-bottom: 20px;
    margin-bottom: 20px;
    display: inline-block; /* Añade esta línea para que las partes se muestren en línea */
    text-align: left; /* Restaura el texto alineado a la izquierda si es necesario */
}
/*label de formularios*/
label {
    font-family: Courier New,Arial, sans-serif; 
    font-size: 16px; 
    font-weight: bold; /*  establece el grosor de la fuente como negrita */
    color: #000000; 
}
h3{
    font-family: Courier New,Arial, sans-serif;
    font-weight: bold; 
}
.parteu {
    background-color: #4AA8D8;
    padding: 22px;
    text-align: center;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    text-align: center; 
}

/*para uno como parte u, pero en blanco*/
.parte3 {
    background-color: white;
    padding: 22px;
    text-align: center;
    color: black;
    width: 80%;
    display: inline-block;
    
}

/*recordar que parte 2b es el div que contiene las imagenes dendtro de parte*/
.parte2 {
    display: inline-block;
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave al efecto de escala */
}

.parte2 img {
    width: 35%; /* Asegura que la imagen ocupe todo el espacio disponible en el div */
}

.parte2:hover {
    transform: scale(1.1); /* Escala la imagen al 110% al pasar el mouse */
   
}
/*botones, cajas etc*/
/* Estilos para etiquetas de formulario */
.Boton{

    width: 50%;
    background-color: #36A420;
    padding: 15px;
    font-size: 15px;
    margin: 16px 0;
    color: #ffffff;
    border-radius: 8px;
    font-weight: bolder;
}
.Boton:hover{
    transform: scale(1.1);

}
.Boton2 {
     margin: 16px 0;
    border-radius: 8px;
    background-color: #237ABA ; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Padding alrededor del texto */
    
    border-radius: 5px; /* Radio de borde */
    cursor: pointer; /* Cursor al pasar por encima */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Decoración de texto */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 5px; /* Margen alrededor del botón */
}
.Boton2:hover{
    transform: scale(1.1);

}
.caja{
    width: 180px; /* Ancho deseado para los inputs */
    padding: 5px;
    margin-bottom: 5px; /* Espacio de 5px después de la caja */
    border: 1px solid #ccc;
    border-radius: 8px;
}
/*para la seleccion de carrreras y grupos*/
.caja2{
    width: 180px; /* Ancho deseado para los inputs */
    padding: 5px;
    margin-bottom: 5px; /* Espacio de 5px después de la caja */
    border: 1px solid #ccc;
    border-radius: 8px;
}
.carrera{
    width: 180px; /* Ancho deseado para los inputs */
    padding: 5px;
    
    border: 1px solid #ccc;
    border-radius: 5px;

}

/*tablas*/

table {
    width: 700px;
    border-collapse: collapse;
    margin: 20px;
    font-family: Arial, sans-serif;   
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e0e0e0;
    /*transform: scale(1.3);*/
}
table img:hover {
    transform: scale(1.3); /* Escala de 1.3 para las imágenes dentro de la tabla */
}

/*cargar*/


/* Media queries para pantallas más pequeñas, como tabletas y móviles */
@media only screen and (max-width: 768px) {
    nav ul {
        /* Cambios en el menú de navegación */
        justify-content: space-around; /* Centra los elementos y agrega espacio entre ellos */
    }

    nav a {
        padding: 8px; /* Reduce el padding de los enlaces */
        width: auto; /* Deja que el ancho sea automático para adaptarse al contenido */
        display: block; /* Convierte los enlaces en bloques para ocupar todo el ancho disponible */
    }

    #tituloLaboratorio {
        font-size: 16px; /* Reduce el tamaño del título */
        padding: 10px; /* Ajusta el padding del título */
    }

    .contenedor {
        grid-template-columns: 50% 50%; /* Cambia a dos columnas en lugar de tres */
    }
    

    .parte {
        padding: 15px; /* Ajusta el padding de las partes */
        font-size: 18px; /* Reduce el tamaño de fuente de las partes */
    }


    .contenedor2 {
        padding: 10px;
    }

    .parteu {
        width: 100%;
    }

    label {
        font-size: 14px; /* Reducir el tamaño de fuente para dispositivos pequeños */
    }
    .tablas {
        margin: 10px;
        overflow-x: auto;
    }
    footer {
        min-height: 310px; /* Cambia la altura mínima para que se adapte al contenido */
    }
    .caja, .carrera {
        width: 100%; /* Ancho completo para una sola columna */
    }
    .Boton {
        font-size: 15px; /* Reducir el tamaño de fuente para dispositivos móviles */
    }
}

/* Otras media queries según sea necesario para dispositivos más pequeños */
@media only screen and (max-width: 480px) {
    /* Agrega aquí más estilos específicos para dispositivos muy pequeños */
}


.buttonDownload {
    display: inline-block;
    position: relative;
    
    background-color: #4CC713;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
   
    text-align: center;
    text-indent: 15px;
    border: none;
    width: 40%;
    border-radius: 8px;
    font-weight: bolder;

    padding: 15px;
    font-size: 15px;
    margin: 16px 0;
   }
   
   .buttonDownload:hover {
    background-color: #45a21a;
    color: white;
   }
   
   .buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
   }
   
   .buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
   }
   
   .buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
   }
   
   .buttonDownload:hover:before {
    border-color: #cdefbd;
   }
   
   .buttonDownload:hover:after {
    border-top-color: #cdefbd;
    animation-play-state: running;
   }
   
   @keyframes downloadArrow {
    0% {
     margin-top: -7px;
     opacity: 1;
    }
   
    0.001% {
     margin-top: -15px;
     opacity: 0.4;
    }
   
    50% {
     opacity: 1;
    }
   
    100% {
     margin-top: 0;
     opacity: 0.4;
    }
   }
   /*dddddddddddddddddd*/
   .loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: '';
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}
/*cerrar sesion*/
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(5, 5, 5);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }
  .parte4 {
    display: inline-block;
}
/*/////////////////////////////////////////////////////*/
